body, html {
    overflow: hidden;
    background-color: white;
    display: inline-block;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EEE;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar a {
    padding: 4px 4px 4px 4px;
}
.sidebar-text {
    font-weight: bold;
    color: #222;
    padding: 4px 4px 4px 4px;
}
.close-btn {
    /* top right bottom left */
    padding: 4px 4px 12px 4px;
}
.close-btn a {
    color: #111;
    font-size: 24px;
    padding-left: 4px;
    padding-top: 4px;
}
.open-btn {
    padding-left: 4px;
    padding-top: 4px;
}
.open-btn a {
    color: #EEE;
    font-size: 24px;
}
.menu-element {
    padding: 6px 4px 6px 4px;
}